<h1>Leagues</h1>

<table class ="index">
  <thead>
    <tr>
      <th> Leagues</th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= league.title %></td>
        <td><%= link_to 'Show', league %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
