<h1>League Generator</h1>
<p>Some Rules: </p>
<p> 1) Click enter to log in and view all league by clicking </br>
	2) Only user who created the league can add results and add teams to the league </br>
	3) Use contact us form to enquire about any changes
</p>